header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
}

nav {
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3rem;
    padding: 10px;
}

nav div {
    text-align: center;
    border-bottom: white solid 4px;
    width: 120px;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-item a {
    color: white;
}

/* Background image can be added if desired */
.hero-banner {
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.page-section {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 3rem 0;
}

.page-section h2 {
    width: 20%;
    font-size: 2rem;
    margin-right: 2rem;
    text-align: right;
}

.content {
    border-left: solid black 5px;
    padding-left: 2rem;
    width: 70%;
}

.project-box {
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: fit-content;
}

.project-title {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    flex-grow: 1;
    padding: 5px 15px;
}

.contact-item {
    border-bottom: black solid 4px;
    color: black;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.contact-item a {
    color: black;
}

/* Add hover state for contact info */
.contact-item:hover {
    background-color: black;
    border: none;
    color: white;
}

.contact-item a:hover {
    color: white;
}

#personal-info {
    display: flex;
    padding: 30px 0;
    padding-left: 60px;
}

#portrait {
    max-width: 100px;
    margin-right: 30px;
}

#subheading {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 10px 0;
    height: max-content;
}

#subheading h2 {
    background-color: black;
    color: white;
    padding: 10px 25px;
    padding-left: 60px;
}

/* Set up project grid for large screens, highlight main project */
#project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "project1 project1"
    "project1 project1"
    "project2 project3"
    "project4 project5";
}

#main-project {
    grid-area: project1;
    background-image: url(../images/horiseon.jpg);
    height: 400px;
}

#secondary-project1 {
    grid-area: project2;
    background-image: url(../images/LabbyIntro.png);
}

#secondary-project2 {
    grid-area: project3;
    background-image: url(../images/Umami.png);
}

#secondary-project3 {
    grid-area: project4;
    background-image: url(../images/BotanyIntro.png);
}

#secondary-project4 {
    grid-area: project5;
    background-image: url(../images/KudoCoin.png);
}

#contact-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Media query to change elements on screens below 1000px */
@media only screen and (max-width: 1000px) {
    header {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        color: white;
    }

    nav {
        width: 50%;
    }

    .page-section {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        width: 100%;
    }

    .page-section h2 {
        width: 100%;
        font-size: 2rem;
        margin-right: 2rem;
        text-align: left;
    }
    
    .content {
        border-top: solid black 5px;
        border-left: none;
        width: 100%;
        padding: 20px 0;
    }

    .hero-banner {
        height: 100px;
        width: 100%;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }

    #personal-info {
        display: flex;
        padding: 30px 0;
    }

    #subheading {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px 0;
        height: max-content;
    }
}

/* Media query to rearrange elements for screens below 600px */
@media only screen and (max-width: 600px) {
    nav {
        display: none;
    }

    /* Change project grid for small screens */
    #project-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "project1"
        "project2"
        "project3"
        "project4"
        "project5";
    }

}